<div class="panel panel-primary">
	<div class="panel-heading"><%= link_to task.title, task %></div>
	<div class="panel-body"><%= task.description %></div>
	<div class="panel-footer">
			<% if task.status == 'ongoing' %>
		<span class="pull-left">
			<%= link_to status_task_path(task, status: 'pending'), method: :put  do %>
				<%= fa_icon 'arrow-left' %>
			<% end %>
		</span>

		<span class="pull-right">
			<%= link_to status_task_path(task, status: 'completed'), method: :put  do %>
				<%= fa_icon 'arrow-right' %>
			<% end %>
		</span>
	<% elsif task.status == 'completed' %>
		<span class="pull-left">
			<%= link_to status_task_path(task, status: 'ongoing'), method: :put  do %>
				<%= fa_icon 'arrow-left' %>
			<% end %>
		</span>
	<% else %>
		<span class="pull-right">
			<%= link_to status_task_path(task, status: 'ongoing'), method: :put  do %>
				<%= fa_icon 'arrow-right' %>
			<% end %>
		</span>
	<% end %>
	</div>
</div>