<div id="taskDetails">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="t-info">
					<ul class="t-info-list">
						<li>
							<h5>Title:</h5>
							<span><%= @task.title %></span>
						</li>

						<li>
							<h5>Status:</h5>
							<span style="color: gold; text-transform: uppercase; font-weight: bold;"><%= @task.status %></span>
						</li>

						<li>
							<h5>D.O.C:</h5>
							<span><%= @task.date %></span>
						</li>

						<li>
							<h5>Location:</h5>
							<span><%= @task.location %></span>
						</li>

						<li>
							<%= link_to 'Update Task', edit_task_path(@task), class: 'btn btn-info' %>
						</li>

						<li>
							<%= link_to 'Delete Task', @task, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
						</li>

						<li>
							<span><%= link_to 'back', :back, class:'btn btn-primary btn-sm' %></span>
						</li>
					</ul>
				</div><!--/col4-->
			</div><!--/task-info-->

			<div class="col-md-8">
				<div class="t-info details">
					<h4>Description</h4>
					<p><%= @task.description %></p>
				</div><!--/col8-->
			</div><!--details-->
		</div><!--/row-->

		<div class="row">
			<div class="col-md-12">
				<div class="t-map">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div><!--/container-->
</div>
<%= render 'gmap' %>


