<!-- Tab panes -->
<div class="tab-content">
	<!-- HOME TAB PANEL -->
  <div role="tabpanel" class="tab-pane active" id="home">
  	<div class="row">
  		<div class="col-md-12">
  			<h2>Welcome, <%= current_user.full_name %></h2>
  			<p>The time is <%= Time.now.utc.strftime('%H:%M %p') %></p>
  			<p>Below are a list of tasks/appointments scheduled for today <strong><%= Date.today %></strong></p>
  		</div>
  	</div><!--/row-->
		
  	<div class="row">
  		<div class="col-md-4">
  			<h2 class="page-header">Pending</h2>
  			<% @pending_tasks.each do |task| %>
  				<%# if task.todays_task %>
		  			<div class="panel panel-danger">
		  				<div class="panel-body">
		  					<h2 class="page-header"><%= link_to task.title.capitalize, task %></h2>
		  					<p><%= truncate(task.description) %></p>
		  				</div>
		  				<div class="panel-footer">
		  					<span class="pull-right">
									<%= link_to status_task_path(task, status: 'ongoing'), method: :put  do %>
										<%= fa_icon 'arrow-right' %>
									<% end %>
								</span>
								<span class="pull-left">
									<%= link_to status_task_path(task, status: 'completed'), method: :put  do %>
										<%= fa_icon 'check-circle-o' %>
									<% end %>
								</span>
		  				</div>
		  			</div>
		  		<%# end %>
  			<% end %>
  		</div>

  		<div class="col-md-4">
  			<h2 class="page-header">Ongoing</h2>
  			<% @ongoing_tasks.each do |task| %>
  				<%# if task.todays_task %>
		  			<div class="panel panel-primary">
		  				<div class="panel-body">
		  					<h2 class="page-header"><%= link_to task.title.capitalize, task %></h2>
		  					<p><%= truncate(task.description) %></p>
		  				</div>
		  				<div class="panel-footer">
		  					<span class="pull-right">
									<%= link_to status_task_path(task, status: 'completed'), method: :put  do %>
										<%= fa_icon 'check-circle-o' %>
									<% end %>
								</span>
								<span class="pull-left">
									<%= link_to status_task_path(task, status: 'pending'), method: :put  do %>
										<%= fa_icon 'arrow-left' %>
									<% end %>
								</span>
		  				</div>
		  			</div>
		  		<%# end %>
  			<% end %>
  		</div>

  		<div class="col-md-4">
  			<h2 class="page-header">Completed</h2>
  			<% @completed_tasks.each do |task| %>
  				<%# if task.todays_task %>
		  			<div class="panel panel-primary">
		  				<div class="panel-body">
		  					<h2 class="page-header"><%= link_to task.title.capitalize, task %></h2>
		  					<p><%= truncate(task.description) %></p>
		  				</div>
		  				<div class="panel-footer">
								<span class="pull-left">
									<%= link_to status_task_path(task, status: 'ongoing'), method: :put  do %>
										<%= fa_icon 'arrow-left' %>
									<% end %>
								</span>
		  				</div>
		  			</div>
		  		<%# end %>
  			<% end %>
  		</div>
  	</div><!--/row-->
  	<hr>
  </div><!--/homepanel-->

	<div role="tabpanel" class="tab-pane" id="task">
		<div class="row">
			<div class="col-md-12">
				<h2>All Tasks</h2>
			</div>
		</div><!--/row-->

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Date</th>
							<th>Location</th>
							<th>Status</th>
						</tr>
					</thead>
					<% @tasks.each do |task| %>
						<tbody>
							<tr>
								<td><%= task.id %></td>
								<td><%= link_to task.title, task %></td>
								<td><%= task.date %></td>
								<td><%= task.location %></td>
								<td><%= task.status %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div><!--/col12-->
		</div><!--/row-->
	</div><!--/taskpanel-->

	<div role="tabpanel" class="tab-pane" id="appointment">
		<div class="row">
			<div class="col-md-12">
				<h2>Appointments</h2>
			</div>
		</div><!--/row-->

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Date</th>
							<th>Location</th>
							<th>Status</th>
						</tr>
					</thead>

					<% @appointments.each do |task| %>
						<tbody>
							<tr>
								<td><%= task.id %></td>
								<td><%= link_to task.title, task %></td>
								<td><%= task.date %></td>
								<td><%= task.location %></td>
								<td><%= task.status %></td>
							</tr>
						</tbody>
					<% end %>
				</table>				
			</div><!--/col12-->
		</div><!--/row-->
	</div><!--/appointpanel-->

	<div role="tabpanel" class="tab-pane" id="overdue">
		<div class="row">
			<div class="col-md-12">
				<h2>Overdue Tasks</h2>
			</div>
		</div><!--/row-->

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Date</th>
							<th>Location</th>
							<th>Status</th>
						</tr>
					</thead>
					<% @overdue_tasks.each do |task| %>
						<tbody>
							<tr>
								<td><%= task.id %></td>
								<td><%= link_to task.title, task %></td>
								<td><%= task.date %></td>
								<td><%= task.location %></td>
								<td><%= task.status %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div><!--/col12-->
		</div><!--/row-->
	</div><!--/taskpanel-->
</div>